{% extends 'base.html' %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-11">
        <h1>Controle de estoque de games</h1>
    </div>
    <div class="col-11">
        <details>
            <summary>Cadastrar novo jogo</summary>
            <div class="col-md-4 bg-light border p-2 rounded">
                <form action="{{url_for('estoque')}}" method="post">
                    <input type="text" name="titulo" placeholder="Título" class="form-control mt-3" required>
                    <input type="number" name="ano" placeholder="Ano" class="form-control mt-3" required>
                    <input type="text" name="categoria" placeholder="Categoria" class="form-control mt-3" required>
                    <input type="text" name="plataforma" placeholder="Plataforma" class="form-control mt-3" required>
                    <input type="number" name="preco" placeholder="Preço" class="form-control mt-3" required>
                    <input type="number" name="quantidade" placeholder="Quantidade" class="form-control mt-3" required>
                    <div class="d-flex justify-content-around">
                        <input type="submit" value="Cadastrar" class="btn btn-success form-control">
                        <input type="reset" value="Limpar" class="btn btn-danger form-control ms-2">
                    </div>
                </form>
            </div>
        </details>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-md-11">
        <table class="table">
            <thead class="table-dark table-bordered table-hover text-center">
                <tr>
                    <th class="border-end">Título</th>
                    <th class="border-end">Ano</th>
                    <th class="border-end">Categoria</th>
                    <th class="border-end">Plataforma</th>
                    <th class="border-end">Preço</th>
                    <th class="border-end">Quantidade</th>
                    <th class="text-center" colspan="2">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for g in gamesestoque %}
                <tr class="text-center">
                    <td class="border-end border-start">{{g.titulo}}</td>
                    <td class="border-end">{{g.ano}}</td>
                    <td class="border-end">{{g.categoria}}</td>
                    <td class="border-end">{{g.plataforma}}</td>
                    <td class="border-end">{{g.preco}}</td>
                    <td class="border-end">{{g.quantidade}}</td>
                    <td class="border-end text-success" >
                        <a href="#" class="text-success" style="cursor: pointer; text-decoration: none;">Editar</a>
                    </td>
                    <td class="border-end" >
                        <a href="{{url_for('estoque', id=g.id)}}" onclick="return confirm('Deseja excluir mesmo?')" style="cursor: pointer; text-decoration: none;" class="text-danger">Excluir</a>
                    </td>
                </tr>
                {% endfor%}
            </tbody>

        </table>
    </div>
</div>
{% endblock content %}